<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="housewife.Properties.Settings.Constring" connectionString="Data Source=.;Initial Catalog=HouseWife;User ID=sa;Password=sasa@123;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>