<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PersonalFinanceManager.Properties.Settings.Constring"
            connectionString="Data Source=.;Initial Catalog=housewife;User ID=sa;Password=sasa@123;" />
		<add name="DbConnection" connectionString="Data Source=.;Initial Catalog=housewife;User ID=sa;Password=sasa@123;"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>